# Database
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/support_saas?schema=public"

# JWT Secrets
JWT_ACCESS_SECRET=fdfdgretreret5rtrtrytrhgkuyicvbvcsger454765yrtgdffwq232rdw3423423
JWT_REFRESH_SECRET=fdfdgretreret5rtrtrytrhgkuyicvbvcsger454765yrtgdsdsadasffwq232rdw3423423sdas
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=

# Server
PORT=3000
NODE_ENV=development


